# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# IDE / editor files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Counter-models and unsat cores
model-*.txt
core-*.txt
models/
cores/
docs/out