{% extends "default/index.html.jinja2" %}

{% block title %}Implicit Rankings with Timers{% endblock %}

{% block nav %}
    <img src="https://pdoc.dev/logo.svg" class="logo" alt="project logo"/>
    <input type="search" placeholder="Search..." role="searchbox" aria-label="search"
                   pattern=".+" required>
    {{ super() }}
{% endblock %}

{% block content %}
    <main class="pdoc">

    {% filter to_html %}
    {% include "./index.md" %}


    {% include "./examples/ticket.md" %}
    {% endfilter %}

    </main>
    {% include "search.html.jinja2" %}
{% endblock %}